*{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    margin-left: 2px;
    margin-right: 2px;
    flex-wrap: wrap;
}

/**COLOR DE FONDO**/
body{
    background-color: #2D2D2D;
}
header {
    border-bottom: 1px solid white;
    background-color: #e5fd4f;
    display:flex;
    justify-content: space-between;
    align-items: self-end;
}

header img{
width: 80px;
}

.navegable li a {
    text-decoration: none;
    padding: 10px;
    border: 1px solid #2D2D2D;
    border-radius: 10px;
}

.navegable li a:hover{
    background-color: #2D2D2D;
    color:#e5fd4f;
    transition: 0.5s;
}

header nav ul {
    display:flex;
    list-style-type: none;
}

header nav ul li {
    margin:10px;
}

header nav ul li a {
    color:#2D2D2D;
    background: color #e5fd4f;
 
}

main{
    background-color: #cfcfc7;
}


.contacto{
    text-align: center;
}


footer{
    background-color: #e5fd4f;
    display: flexbox;
    justify-content: space-between;
    align-items: self-end;
}